* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

header {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  background-color: #f5f5f5;
  font-family: 'Times New Roman', Times, serif;
  text-align: center;
  color: #595564;
  padding: 2em 0 1em 0;
}

body {
  background-color: #cbd5e1;
}

.header-img {
  width: 100px;
  margin-right: 0.5em;
  border-radius: 100%;
}

.links {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  margin-top: 1em;
}

.links a {
  margin: 0.5em;
  background-color: #475569;
  text-decoration: none;
  color: #cbd5e1;
  padding: 0.5em 1em;
  border-radius: 3px;
  cursor: pointer;
  font-weight: bolder;
  font-size: 1.2em;
}
.links a:hover {
  background-color: #5e6a7a;
}

.input-section {
  background-color: #475569;
  width: 50%;
  max-width: 600px;
  min-width: 300px;
  margin: 1em auto;
  text-align: center;
  padding: 1em;
  border-radius: 1.7rem;
  box-shadow: 0 0.5em 1em 0 rgba(0, 0, 0, 0.2);
}

.input-h1 {
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande',
    'Lucida Sans', Arial, sans-serif;
  color: #cbd5e1;
  font-size: 2em;
}

.input-p {
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande',
    'Lucida Sans', Arial, sans-serif;
  color: #bfdcf7;
  font-size: 1em;
  margin-top: 1em;
}

.label {
  font-size: 1.6rem;
  color: wheat;
  font-weight: bold;
  padding: 1.5rem;
}

input {
  width: 50%;
  max-width: 300px;
  margin: 0 auto;
  padding: 1rem;
  text-align: center;
  font-weight: bolder;
  color: #8b5cf6;
  font-size: 28px;
  height: 50px;
  display: block;
  border: none;
  border-radius: 5px;
}

button {
  padding: 0.5em 2em;
  background-color: #8b5cf6;
  font-size: 1.5rem;
  margin: 1em auto 0;
  border-radius: 3px;
  font-weight: bolder;
  border: none;
  cursor: pointer;
}

button:hover {
  background-color: #9e76fa;
  color: #f7fbff;
}
.cashGivenInput {
  display: none;
}

.changeReturn {
  background-color: #5e6a7a;
  display: none;
  width: 70%;
  margin: 0 auto;
  min-width: 400px;
  border-radius: 10px;
}

.errorMessage {
  padding: 1rem;
  color: rgb(238, 255, 0);
  font-size: 1.7rem;
}

.output {
  padding: 0 2em;
}

.output table,
td {
  padding: 0.1rem;
}

.header-note {
  font-size: 1em;
  display: block;
  font-weight: bolder;
  margin: 1em auto;
}
.noOfNotes {
  background-color: rgb(177, 174, 174);
  font-weight: bold;
  font-size: 20px;
}

table {
  width: 100%;
  table-layout: fixed;
}

th,
td {
  word-wrap: break-word;
}
